*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffc900;
}


.nvvBar{
    height:15vh;
    background-color: #ffc900;
    width: 100%;

}

.material{
    position: relative;
    top: 60%;
    right: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: larger;
    font-weight: 500;
    justify-content: space-between;
    background-color: #ffc900;
}
main{
    width: 100%;
    height: 20vh;
}
.cnt{
    position: relative;
    left: 60%;
    top: 68%;
}
.txt2{
    font-family: 'Yusei Magic', sans-serif;
    justify-content: space-between;
    font-display: fallback;
}

.register{
    width: 100%;
    height: 10vh;
    transform: translate(880px,150px);
    background-color: #ffc900;

}
.end{
    transform: translate(50px, 80px);
}
.instruction{
    transform: translate(550px,690px);
}
.dividing{
    width: 100%;
    padding: 2px;

}

.Cards3{
    transform: translateY(80px);
    display: flex;
    justify-items: flex-start;
}
.closure{
    transform: translate(550px, 900px);
}
.regForm{
    width: 35%;
    transform: translate(970px, 1300px);

}
.signup{

    transform: translate(500px, 1150px);
}
#cmp{
    transform: translate(-5px,5px);
}
#inputEmail3{
    transform: translate(-10px,13px);
}
body{
    background-color: #ffc900;
}